<!DOCTYPE html>
<html>
    <head>
        <link rel = "stylesheet" href = "../static/style.css">
    </head>
    <body>
        <h3>Version 1.1 - Alpha Controller</h3>

        <form method = "post" style = "text-align:center;">
            <div>
                <button value = "avanti" name = "dir" class = "buttone">AVANTI</button>
            </div>
            <div>
                <button value = "sinistra" name = "dir" class = "buttone">SINISTRA</button>
                <button value = "stop" name = "dir" class = "buttone">STOP</button>
                <button value = "destra" name = "dir" class = "buttone">DESTRA</button>
            </div>
            <div>
                <button value = "indietro" name = "dir" class = "buttone">INDIETRO</button>
            </div>  

            </br>
            </br>
            </br>

            <input type = "text" id = "txt" placeholder = "txt" name = "txt" style = "width:250px;">
                
            <input class = "btn btn-default" type = "submit" value = "Invia">
        </form>
    </body>
</html>